<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
     
	<!--  默认无参数构造 -->
	<bean id="bean1" class="com.liu.beans3.Bean1">
	</bean>
	
	<!-- 静态工厂方式 -->
	<bean id="bean2" class="com.liu.beans3.Bean2Factory" factory-method="getBean2">
	</bean>
	
	<!-- 工厂方式 -->
	<bean id="bean3" factory-bean="bean3Factory" factory-method="getBean" >
		<constructor-arg name="name" value="asasa"/>
	</bean>
	<bean id="bean3Factory" class="com.liu.beans3.Bean3Factory"></bean>
</beans>