<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.learnMybatis.mapping.clazzMapper">
	<resultMap id="clazzResultMap" type="com.liu.learnMybatis.pojo.Clazz">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<collection property="students" javaType="ArrayList" column="id" ofType="Student" select="selectStudentsClazz"/>
	</resultMap>
	
	<select id="getClazzById" parameterType="int" resultMap="clazzResultMap">
		select * from `class` where id=#{id}
	</select>
	
	<select id="selectStudentsClazz" parameterType="int" resultType="Student">
		select * from student where class_id = #{id}
	</select>
</mapper>