<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="helloWorldBean" class="com.liu.beans.HelloWorldBean" abstract="true">
		<property name="message" value="world"/>
	</bean>

	<bean id="helloChinaBean" class="com.liu.beans.HelloChinaBean" parent="helloWorldBean" init-method="init" destroy-method="destroy">
		<property name="message2" value="china"/>
	</bean>
</beans>