<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
  

	<!-- 定义目标对象 -->
    <bean id="customerDao" class="com.liu.advisor.CustomerDaoImpl"/>
    <bean id="orderDao" class="com.liu.pointcutAdvisor.OrderDao"/>
    
    <!-- 定义增强 -->
    <bean id="beforeAdvisor" class="com.liu.advisor.MyBeforeAdvice"/>
    <bean id="aroundAdvice" class="com.liu.pointcutAdvisor.MyAroundAdvice"/>
    
    <!-- 自动代理：按名称的代理，基于后处理Bean，后处理Bean不需要配置id -->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
    	<property name="beanNames" value="*Dao"></property>
    	<property name="interceptorNames" value="beforeAdvisor"></property>
    </bean>
    
 
</beans>