<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web</display-name>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/xxxx</param-value>
  </context-param>
  <context-param>
    <param-name>url1</param-name>
    <param-value>jdbc:mysql://localhost:3306/xxxx</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>FirstFilter</filter-name>
  	<filter-class>com.liu.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FirstFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
	<!--  用于的使 Browser 不缓存页面的过滤器-->
  <filter>
  	<filter-name>ForceNoCacheFilter</filter-name>
  	<filter-class>com.liu.filter.ForceNoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ForceNoCacheFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.liu.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.liu.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>com.liu.servlet.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>刘浩宇</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/ServletConfigDemo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>com.liu.servlet.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/ServletContextDemo1.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>com.liu.servlet.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/ServletContextDemo2.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>com.liu.servlet.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/ServletContextDemo3.html</url-pattern>
  </servlet-mapping>
</web-app>